<!--FOOTER SECTION-->
<footer class="container-fluid p-2 mt-5">
    <div class="card text-center bg-dark text-white">
        <div class="card-header">
          Throwing
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting Club as a natural lead-in to additional Jersey.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
            <small class="text-white">Copyright &copy; 2023 || Designed By Sarwar Mithu || </small>
        </div>
    </div>
</footer>