<!--HEADER SECTION-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Throwing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Deliver to</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jersey
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'baseball' %}">Baseball</a></li>
              <li><a class="dropdown-item" href="{% url 'football' %}">Football</a></li>
              <li><a class="dropdown-item" href="{% url 'cricket' %}">Cricket</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'allproduct' %}">All Product</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Club
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Yellow Jackets</a></li>
              <li><a class="dropdown-item" href="#">Brave Bulls</a></li>
              <li><a class="dropdown-item" href="#">Buck Lakers</a></li>
              <li><a class="dropdown-item" href="#">Blue Jays</a></li>
              <li><a class="dropdown-item" href="#">The Hitmen</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.username|capfirst}}    <!--showing Authenticated user name-->
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'orders' %}">Order Status</a></li>       <!--Orders information -->
                <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">4</span> Cart </a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
              <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'registration' %}" class="nav-link text-white">Registration</a>
            </li>
          </ul>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>
</header>